.env
.Python
[Bb]in
[Ii]nclude
[Ll]ib
[Ll]ib64
[Ll]ocal
[Ss]cripts
pyvenv.cfg
.venv
pip-selfcheck.json

# Ignore Python cache
__pycache__/
*.pyc
# Can't push these big files
*.pkl
authenticating/ml_model/
