{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Password Reset</title>
    <link rel="stylesheet" href="{% static 'auth/password_reset.css' %}">
</head>
<body>
    <main class="form-wrapper">
        <section class="form-card">
            <h3>Password Reset</h3>
            <p>Forgot your password? No worries, enter your email below:</p>

            <form method="post">
                {% csrf_token %}
                <div class="form-group">
                    {{ form.email }}
                </div>
                <button type="submit">Send Reset Email</button>
            </form>
        </section>
    </main>
</body>
</html>
